@import "tailwindcss";
@plugin './hero.js';
/* Note: You may need to change the path to fit your project structure */
@source '../node_modules/@heroui/theme/dist/**/*.{js,jsx}';
@custom-variant dark (&:is(.dark *));


body{
    /* background: black; */
}
/* body::after{

    content: 'after';
    position: absolute;
    top:10%;
    left: 10%;
    background: linear-gradient(#252525,#fffef5);

    width: 90%;
    height: 500px;
    z-index: 1;
    border-radius: 0px 50px 20px 100px;
    filter: blur(150px);

} */

body *{
    /* border: red 1px solid; */
}

@layer utilities {
    .bg-glass{
        background: rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
    }
    .dark .bg-glass{
        background: rgba(32, 32, 32, 0.4);
        backdrop-filter: blur(10px);
    }

    .bg-primary-c{
        background-color: rgb(219, 0, 190);
    }

    .dark .bg-primary-c{
        background-color: rgb(255, 145, 0);
    }

        .text-primary-c {
            color: rgb(219, 0, 190);
        }
    
        .dark .text-primary-c {
            color: rgb(255, 145, 0);
        }

    .centered {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@theme {
     --color-primary-me: #8b5cf6;
}